# Do not include terraform files
.terraform/
terraform.tfstate*
errored.tfstate*
*.lock.hcl

# Do not include remote-state-create
remote-state-create

# Do not include the dev.log file
dev.log

# Do not include terraform config file
.tfconfig
